<footer class="footer" data-background-color="black">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="{% url 'home' %}">
              Home
            </a>
          </li>
          <li>
            <a href="{% url 'about' %}">
              About
            </a>
          </li>
          <li>
            <a href="{% url 'story' %}">
              Story
            </a>
          </li>
          <li>
            <a href="{% url 'radium' %}">
              Radium
            </a>
          </li>
          <li>
            <a href="{% url 'citation' %}">
              Work Cited
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
       Created by <a href="https://www.makeschool.com/portfolio/Cao-Mai" target="_blank">Cao Mai</a>, <a href="https://www.makeschool.com/portfolio/JonathanKopp" target="_blank"> Jonathan Kopp</a>, <a href="https://www.makeschool.com/portfolio/jose-arellanes-aldaco" target="_blank">Jose Arellanes Aldaco</a> and <a href="https://www.makeschool.com/portfolio/anas-bellouzi" target="_blank">Anas Bellouzi</a>
      </div>
    </div>
  </footer>