<footer class="footer" data-background-color="black">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="{% url 'home' %}">
              Home
            </a>
          </li>
          <li>
            <a href="{% url 'about' %}">
              1992 Twilight
            </a>
          </li>
          <li>
            <a href="{% url 'story' %}">
              13TH
            </a>
          </li>
          <li>
            <a href="{% url 'radium' %}">
              Compare & Contrast
            </a>
          </li>
          <li>
            <a href="{% url 'citation' %}">
              Work Cited
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
       Created by <a href="https://www.makeschool.com/portfolio/anas-bellouzi" target="_blank">Anas Bellouzi</a>
      </div>
    </div>
  </footer>