{% extends 'base.html' %}

{% block content %}

     <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://storage.googleapis.com/afs-prod/media/media:7ad3e7d26c9b4ec3a43c82d85a748541/3000.jpeg');">
      </div>
      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="./assets/img/now-logo.png" alt="">
          <h1 class="h1-seo">Rodney King</h1>
          <!-- <a href="{% url 'story' %}" class="btn btn-outline-primary btn-round btn-lg text-white">Read their Story</a> -->
        </div>
      </div>
    </div>


        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                {% load static %}
                    <img class="d-block" src="https://images.foxtv.com/static.foxla.com/www.foxla.com/content/uploads/2019/10/1280/720/Remembering_Rodney_King_0_7531497_ver1.0_1280_720.jpg?ve=1&tl=1" alt="First slide">
            </div>
        </div>


        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-8">
              <h2 class="title">Twilight: Los Angeles, 1992</h2>
              <img src="https://kpbs.media.clients.ellingtoncms.com/img/photos/2020/06/05/GP_Twilight_Cornel_West_t800.jpg?90232451fbcadccc64a17de7521d859a8f88077d" alt="">
              <h5 class="description text-dark mt-5">Twilight: Los Angeles, 1992 by Anna Deavere Smith, is a documentary exploring the aftermath of police brutality against Rodney King. The savage beating of Rodney King, an African-American man, by four L.A. police officers, three of them white, was captured on video tape by a bystander; graphic video broadcast worldwide sparked a huge riot. The film focuses on stories from people that were at the riot or were affected by it represented by Smith. The four officers charged with using excessive force in the arrest of black motorist Rodney King, were acquitted by the Los Angeles jury. </h5>
              <img src="https://media.npr.org/assets/img/2017/04/24/ap_9103140118_custom-489ed759882d929940fc8d3b5b8beb1515a2ab5a.jpg" alt="">

              <h5 class="description text-dark mt-5">The announcement of the verdict enraged the black community, fueled riots which spread quickly. For three days, riots, looting and shooting did not stop. Many people burned, destroyed and looted from local businesses. Police wearing riot gear are shown face to face with angry protestors, like the incident where the woman spits on the face of a police officer who then grabbed and wrestled her to the floor using force. Many people who had no connection to the beating of Rodney King were badly injured or had their business vandalized. For example, a hispanic woman was walking home after work was shot in her stomach for simply no reason. Her fetus suffered a bullet hit to the elbow and fortunately survived. </h5>
              <img src="https://www.inquirer.com/resizer/_lsSUTqqKpBAaKNpjWEO_sd7Lb0=/0x0:750x499/1400x932/cloudfront-us-east-1.images.arcpublishing.com/pmn/WCEZAOYVE5AOJC5RYNULFTAENU.png" alt="">
              <h5 class="description text-dark mt-5">I personally felt uncomfortable going through the film. It was hard to see that both sides were taking advantage of a miserable situation. The police officers were at fault for beating an innocent man, and the protesters were at fault for the riots. It felt as if there was not law to protect all, no democracy but a very racially biased system which was failing. Similar to recent events, the murder of Breonna Taylor and George Floyd had sparked riots and looting in our modern day. We believe in democracy and the law but behind the scenes, the system ran by racially biased people.</h5>
            </div>
          </div>
        </div>

        <div class="container mb-5">
          <div class="row justify-content-center">
            <a href="{% url 'story' %}" class="btn btn-outline-primary btn-round btn-lg">Who's ALEC?</a>
          </div>
        </div>

    {% include 'main/partials/footer.html' %}

  </div>

  
  {% endblock %}