{% extends 'base.html' %}

{% block content %}

<div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://media2.s-nbcnews.com/i/newscms/2020_23/1575876/pocasts-to-listen-to-kb-main-200603_39e1172963b85b078f5662b0cdf47735.jpg');">
      </div>
      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="./assets/img/now-logo.png" alt="">
        </div>
        <!-- <h6 class="category category-absolute">Designed by
          <a href="http://invisionapp.com/" target="_blank">
            <img src="./assets/img/invision-white-slim.png" class="invision-logo" />
          </a>. Coded by
          <a href="https://www.creative-tim.com" target="_blank">
            <img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
          </a>.</h6> -->
      </div>
    </div>

  <div class="container mt-5">
    <h1 class="title">Work Cited</h1>
        <div class="row justify-content-md-center mt-5" style="height:700px;">
          <ul>
            <li>
              <p class='description text-dark'>Dubernay, Ava, creator. <i>13TH</i>. Howard Barish, Kandoo Films and Forward Movement, 2006.
                <br>
                Netflix, <a class="text-dark" href="https://www.netflix.com/title/80091741?source=35">https://www.netflix.com/title/80091741?source=35</a></p>
            </li>
            <li>
              <p class='description text-dark'>Smith, Anne Deavere. <i>Great Performances.</i> PBS, Public Broadcasting Service, 12 June 2015.
                <br>
                <a class="text-dark" href="www.pbs.org/video/great-performances-twilight-los-angeles-1">www.pbs.org/video/great-performances-twilight-los-angeles-1.</a></p>
            </li>
          </ul>
          
        </div>
    </div>

    {% include 'main/partials/footer.html' %}

  
  {% endblock %}